<!-- index.html.erb -->

<p id="notice"><%= notice %></p>

<h1>Books</h1>


<%= form_tag books_path, method: :get, remote: true do%>
  <%= text_field_tag :search, params[:search] %>

  <%= submit_tag "search" %>
<% end %>


<div id="items_grid">
  <%= render "tabla"%>
</div>

<br>
<%= paginate @books %>

<br>
<%= link_to 'New Book', new_book_path %>

